.container{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 10px 15px ;
    margin:100px  36%;
    
}
input{
    font-size: 20px;
    padding: 6px 4px;
    border: none;
}
button{
    background-color: rgb(6, 90, 20);
    padding: 12px 20px 9px;
    color: white;
    font-weight: 300;
    font-size: 17px;
    border: none;
    margin: 0 40px 0 10px;
    
    border-radius: 10px;
}