.showTask{
    margin: -70px 20%;
    
    /* border: 1px solid red; */
    padding: 15px 10px;
}
ul{
    list-style: none;
}
h3{
    font-size: 27px;
}
.clear-button{
    background-color: rgb(61, 64, 199);
}
.show-container{
 display: flex;
 align-items: center;
 box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 background-color: rgba(255, 255, 255, 0.768);
 justify-content: space-between;
 margin: 10px auto 50px;
 padding: 15px 20px;
 border-radius: 6px;
}

.task-length{
    position: absolute;
    top: 319px;
    left: 403px;
    height: 28px;
    width: 29px;
    background-color: rgb(183, 169, 151);
    color: rgba(49, 47, 47, 0.436);
    font-size: 22px;
    border-radius: 50%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   
}
li{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 5px 3px;
    border-radius: 7px;
    background-color: rgb(235, 235, 234);
    
}
.edit-del{
    position: relative;
    padding: 0 7px;
    top: -27px;
    left: 198px;
    margin: 0 3px;
    cursor: pointer;
    display: inline-block;
}
.edit-del:hover{
    transform: scale(1.2);
    /* transform: rotate(0.4turn); */
}
.time{
    color: gray;
}